{% extends "base.html" %}

{% block title %}My Movies{% endblock %}
{% block headtitle %}My Movies{% endblock %}

{% block content %}
<section id="movie-grid">
{% for m in movies %}
	<div id="{{ m.movie.id }}" class="movie-item span2">
        <a class="modalimage" href="#moviemodal" role="button" data-toggle="modal"><img src="{{ m.poster }}" /></a>
        <p>{{ m.title }} {% if m.movie.releasedate.year %}({{ m.movie.releasedate.year }}){% endif %}</p>
        <script>
            imdbids['{{ m.id }}'] = '{{ m.movie.imdb }}';
            appletrailers['{{ m.id }}'] = '{{ m.apple_trailer }}'; 
            youtubetrailers['{{ m.id }}'] = '{{ m.youtube_trailer }}';
        </script>
    </div>
{% endfor %}
</div>
</section>

<div id="moviemodal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3></h3>
    </div>
    <div class="modal-body">
        <video class="modal-trailer" autoplay="autoplay" autobuffer="autobuffer"></video>
        <ul class="inline">
        </ul>
    </div>
</div>

{% endblock %}
