{% extends "base.html" %}

{% block title %}My Movies{% endblock %}
{% block headtitle %}My Movies{% endblock %}

{% block content %}
<section id="movie-grid">
{% for m in movies %}
	<div id="{{ m.movie.id }}" class="movie-item span2">
        <a class="modalimage" href="#moviemodal" role="button" data-toggle="modal"><img src="{{ m.poster }}" /></a>
        <p>{{ m.title }} {% if m.movie.releasedate.year %}({{ m.movie.releasedate.year }}){% endif %}</p>
        <script>
            movies['{{ m.movie.id }}'] = 
                { 
                    imdb: '{{ m.movie.imdb }}',
                    tag: '{{ m.movie.tagline }}',
                    appletrailer: '{{ m.apple_trailer }}',
                    youtubetrailer: '{{ m.youtube_trailer }}'
                }
        </script>
    </div>
{% endfor %}
</div>
</section>

<div id="moviemodal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3></h3>
    </div>
    <div class="modal-body">
        <p id="modal-tag"></p>
        <video class="modal-trailer" autoplay="autoplay" autobuffer="autobuffer"></video>
        <ul class="inline">
            <li><a id="imdblink" target="_blank">IMDb</a></li>
            <li><a id="beamer" class="btn btn-primary pull-right">Open in Beamer</a></li>
        </ul>
    </div>
</div>

{% endblock %}
